# local-only
/dev_docs/

# build artifacts
Debug/
Release/
*.o
*.elf
*.list
*.map
*.hex
*.bin
*.su
*.d
*.cyclo

# IDE
.metadata/
.settings/
.launches/
*.launch
*.cfg
.idea/
.vscode/

# OS / editor
.DS_Store
Thumbs.db
*~
*.tmp
*.bak
*.swp
*.swo
